# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
*.dll

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*backup*
*deploy*
*debug*
*release*
bin
.vs/config/applicationhost.config
.vs/GameService/v14/.suo
gameservicedb_24_03_2016
*.user
GameService.Wcf/Properties/PublishProfiles/gameservice.prilaga.by.pubxml.user
