<?xml version="1.0"?>
<configuration>
  <connectionStrings>
   <add name="gameservicedb" connectionString="Data Source=mssql.prilaga.by; Database=gameservicedb;User Id=lider112; Password=developer-112;"/>
    <!--<add name="gameservicedb" connectionString="Data Source=(local);Initial Catalog=gameservicedb;Integrated Security=True"/>-->

  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxUrlLength="2048" relaxedUrlToFileSystemMapping="true" maxQueryStringLength="2048"/>
    <customErrors mode="Off"/>
  </system.web>
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          -->
  <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
  <!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          -->
  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
  <!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>-->
  <!--<system.serviceModel>
    -->
  <!--UPDATE the ENDPOINT by Changing the binding to webHttpBinding-->
  <!--
    -->
  <!--POINT to the endpointBehavior Created below by ADDing behaviorConfiguration to the endpoint node-->
  <!--
    <services>
      <service behaviorConfiguration="MyServiceBehavior" name="GameService.Wcf.StatisticsService">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="web" contract="GameService.Wcf.IStatisticsService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="max" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>-->



  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
    <services>
      <service name="GameService.Wcf.OnlineGameService">
        <endpoint name ="RESTEndPoint" contract ="GameService.Wcf.IOnlineGameService" binding ="webHttpBinding" address ="" behaviorConfiguration ="restBehavior"/>
      </service>
      <service name="GameService.Wcf.AuthorizeService">
        <endpoint name ="RESTEndPoint" contract ="GameService.Wcf.IAuthorizeService" binding ="webHttpBinding" address ="" behaviorConfiguration ="restBehavior"/>
      </service>
      <service name="GameService.Wcf.StatisticsService">
        <endpoint name ="RESTEndPoint" contract ="GameService.Wcf.IStatisticsService" binding ="webHttpBinding" address ="" behaviorConfiguration ="restBehavior"/>
      </service>
    </services>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
